.dataframe{
  align-self: center;
  text-align: center;
}

.centerBlock {
  display: table;
  margin: auto;
}

.col{
  margin-top: 20px;
}

.btn-col{
  align-items: flex-end;
}

.map{
  align-items: flex-start;
}
.col_20{
  width: 20%;
}

.col_30{
  width: 30%;
}
